@{
    ViewData["Title"] = "Date Me";
}

<h1>Date Me!</h1>

<div>
    <p>You need to date me now!</p>

</div>

<img src="~/img/astros.jpg" height="400"/>
<br />
<div>
    <a asp-controller="Home" asp-action="FillOutApplication">Fill out an application!</a> <!--build an action for this in the controller-->
</div>

<div>
    <a asp-action="Waitlist">View Waitlist</a>
</div>